---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'IHS Hackerspace: Team Blog';
const description = 'Musings of our team.';
const permalink = `${Astro.site.href}blog`;

let allPosts = await Astro.glob('../../data/blog-posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h1>Team Blog</h1>
    <hr />
    {allPosts.map((post, index) => {
      const href = `/blog/${post.file.split('/').pop().split('.').shift()}`;
      return (
        <div>
          <a href={href}>
            <div class="post-item">
              <h2>{post.frontmatter.title}</h2>
              <p>{post.frontmatter.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">— {post.frontmatter.publishDate}</span>
              </div>
            </div>
          </a>
        </div>
      )
    })}
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin-top: 0 !important;
  }

  a {
    all: unset;
    text-decoration: none;
    cursor: pointer;
  }

  .post-item {
    transition: all 250ms ease-in;
    padding: 1rem 1rem 2rem 2rem;
    border-radius: 10px;
    margin: 0 auto;
  }

  .post-item:hover {
    transform: translateY(-3px);
    background-color: var(--background-body-alt);
  }

  p {
    color: var(--text-main);
  }

  h1 {
    margin-bottom: 0 !important;
    padding-bottom: 1rem;
  }

  @media (max-width: 800px) {
    h1 {
      text-align: center;
    }

    hr {
      width: 50%;
    }
  }
</style>
