---
import BaseLayout from '@layouts/BaseLayout.astro';
import IconLink from '@components/IconLink.astro';
import HrHeading from '@components/HrHeading.astro';

const title = 'IHS Hackerspace: About Us';
const description = 'About the IHS Hackerspace team.';
const permalink = `${Astro.site.href}about`;

import { ourMission, memberList } from '../data/about-data';
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <HrHeading headingSize="h1">About Us</HrHeading>
    <h2>Our Mission</h2>
    <p>{ourMission}</p>

    <h2>Meet the Team</h2>
    <div class="people">
      {
        memberList.leaders.map(leader => {
          return (
            <div class="leader-container">
              <h3>{leader.title}</h3>
              <a href={leader.image_redirect}>
                <img loading="lazy" src={leader.image} alt={"Picture of " + leader.name}/>
              </a>
              <h4>{leader.name} — Class of {leader.graduation_year}</h4>
              <div class="leader-links">
                {
                  Object.entries(leader.icon_links)
                    .map(([icon, link]) => (
                      <IconLink link={link} icon={icon} />
                    ))
                }
              </div>
              <p>{leader.bio}</p>
            </div>
          )
        })
      }
    </div>
    <div class="people">
      {
        memberList.members.map(members => {
          return (
            <div class="member-container">
              <a href={members.image_redirect}>
                <img loading="lazy" src={members.image} alt={"Picture of " + members.name}/>
              </a>
              <h4>{members.name} — Class of {members.graduation_year}</h4>
              <p>{members.bio}</p>
            </div>
          )
        })
      }
    </div>
  </div>
</BaseLayout>

<style>
  .leader-container {
    width: calc(50% - 2rem);
    min-width: 375px;
    padding-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .leader-container img {
    border-radius: 10px;
    object-fit: cover;
    min-width: 100%;
    height: 60vh;
    width: auto;
    margin-bottom: 1rem;
    transition: all 250ms ease-in;
    cursor: pointer;
    background-color: var(--background-body-alt);
  }

  .leader-container img:hover {
    box-shadow: 0 2px 2px rgba(var(--primary-color-rgb), 0.5);
    transform: translateY(-3px);
  }

  .member-container {
    width: calc(33% - 2rem);
    min-width: 200px;
    padding-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .member-container img {
    border-radius: 10px;
    object-fit: cover;
    min-width: 100%;
    height: 40vh;
    width: auto;
    margin-bottom: 1rem;
    transition: all 250ms ease-in;
    cursor: pointer;
    background-color: var(--background-body-alt);
  }

  .container h1 {
    margin-bottom: 1.5rem;
  }

  .container h2 {
    margin-bottom: 2rem;
    padding-top: 0;
    margin-top: 0;
  }

  .people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .leader-links {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 800px) {
    .container h1,
    .container h2,
    .container h3,
    .container h4,
    .container h5,
    .container h6 {
      text-align: center;
    }

    .container {
      width: 80%;
    }

    p {
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: center;
    }

    .member-container {
      width: 80%;
      min-width: 375px;
      padding-bottom: 1rem;
    }

    .member-container img {
      height: 60vh;
    }

    .leader-container {
      width: 80%;
      min-width: 375px;
      padding-bottom: 1rem;
    }

    .leader-links {
      justify-content: center;
    }
  }
</style>
