---
import BaseLayout from '../layouts/BaseLayout.astro';
import IconLink from '../components/IconLink.astro';

const title = 'IHS Hackerspace: About Us';
const description = 'About the IHS Hackerspace team.';
const permalink = `${Astro.site.href}about`;

import { ourMission, memberList } from '../data/about-data';
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <hr />
    <h2>Our Mission</h2>
    <p>{ourMission}</p>

    <h2>Meet the Team</h2>
    <div class="people">
      {
        memberList.leaders.map(leader => {
          const links = leader.links;
          return (
            <div class="member-container">
              <h3>{leader.title}</h3>
              <a href={links.top}>
                <img loading="lazy" src={leader.image} alt={"Picture of " + leader.name}/>
              </a>
              <h4>{leader.name} — Class of {leader.graduation_year}</h4>
              <div class="leader-links">
                { links.github && <IconLink link={links.github} icon={'mdi:github'} /> }
                { links.twitter && <IconLink link={links.twitter} icon={'mdi:twitter'} /> }
                { links.instagram && <IconLink link={links.instagram} icon={'mdi:instagram'} /> }
                { links.personalWebsite && <IconLink link={links.personalWebsite} icon={'mdi:account-box-outline'} /> }              
              </div>
              <p>{leader.bio}</p>
            </div>
          )
        })
      }
    </div>
  </div>
</BaseLayout>

<style>
  .member-container {
    width: calc(50% - 2rem);
    min-width: 375px;
    padding-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .member-container img {
    border-radius: 10px;
    object-fit: cover;
    min-width: 100%;
    height: 60vh;
    width: auto;
    margin-bottom: 1rem;
    transition: all 250ms ease-in;
    cursor: pointer;
    background-color: var(--background-body-alt);
  }

  .member-container img:hover {
    box-shadow: 0 2px 2px rgba(var(--primary-color-rgb), 0.5);
    transform: translateY(-3px);
  }

  .container h1 {
    margin-bottom: 1.5rem;
  }

  hr {
    margin-top: 0px !important;
  }

  .container h2 {
    margin-bottom: 2rem;
  }

  .people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .leader-links {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 800px) {

    .container h1,
    .container h2,
    .container h3,
    .container h4,
    .container h5,
    .container h6 {
      text-align: center;
    }
    .container {
      width: 80%;
    }

    hr {
      width: 80%;
    }

    p {
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: center;
    }

    .member-container {
      width: 80%;
      min-width: 375px;
      padding-bottom: 1rem;
    }

    .leader-links {
      justify-content: center;
    }
  }
</style>
