---
import BaseLayout from '@layouts/BaseLayout.astro';
import { homepageImageCarousel } from '../data/homepage-data';

const title = 'IHS Hackerspace';
const description = 'A place to learn, teach, and explore technology together';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    {
      homepageImageCarousel.map(carouselData => {
        return (
          <section class="carousel">
            <div class="title-section">
              <h2>{carouselData.title}</h2>
              <p>{carouselData.description}</p>
            </div>
            <div class="image-sections">
              {
                carouselData.images.map(imageSet => {
                  return (
                    <div class="image-section">
                      <img loading="lazy" src={imageSet} alt="Temp Alt Because I Am Lazy" />
                    </div>
                  )
                })
              }
            </div>
          </section>
        )
      })
    }
  </div>
</BaseLayout>

<style>
  @media (min-width: 800px) {
    .home-container {
      min-height: 400px;
      border: 10px solid var(--background-body);
      border-radius: 20px;
      background-color: var(--background-body);
      /* box-shadow: 0 0rem .5rem var(--shadow-color); */
    }
  
    .carousel {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: var(--background-body);
    }
  
    .title-section {
      width: 100%;
      height: 100vh;
      background-color: var(--background-body);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 5rem;
  
      top: 0;
      position: sticky;
    }
  
    .image-sections {
      margin: 0;
      padding: 0;
    }
  
    .image-section {
      background-position: center;
      background-size: cover;
      margin: 0;
      padding: 0;
  
    }
  
    .image-section img {
      height: 70vh;
      width: auto;
      object-fit: cover;
      margin: 0;
      padding: 0;
      border-radius: 10px;
      box-shadow: 3px 3px 3px var(--shadow-color);
      background-color: var(--background-body-alt);
    }

  }

  @media (max-width: 800px) {
    .carousel {
      background-color: var(--background-body);
      margin-top: -1.5rem;
    }

    .title-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 1.5rem 2rem;
      /* border-bottom: 2px solid var(--text-main); */

      top: 0;
      position: sticky;
    }

    .title-section::after {
      content: ''; 
      width: 100%; 
      height: 100%;
      background-color: var(--background-body);
      opacity: 0.7; 
      position: absolute; 
      top: 0; 
      left: 0;
      z-index: -1;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .image-sections {
      margin: 0;
      padding: 0;
    }

    .image-section {
      background-position: center;
      background-size: cover;
      margin: 0;
      padding: 0;

    }

    .image-section img {
      width: 100%;
      object-fit: cover;
      margin: .5rem 0 0 0;
      padding: 0;
      border-radius: 10px;
      box-shadow: 3px 3px 3px var(--shadow-color);
      background-color: var(--background-body-alt);
    }
  }

  @media (max-width: 500px) {
    .title-section {
      padding: 1.5rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
</style>
